.header {
  background-color: rgb(99, 201, 167);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.title {
  size: 36px;
}

.nav {
  width: 30%;
  /* flex: 1; */
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
